<%- include("header") -%>
        <div class="box" id="heading">
            <h1>
                Today is <%= listTitle %>
            </h1>
        </div>
        <div class="box">
            
            <% newListitems.forEach(function(item){ %>
<form action="/delete" method="POST">
    <div class="item"><input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
        <p><%= item.name %>  </p>    </div>  
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>

</form>  <% }); %>
               <form action="/" method="POST">
                <input type="text" id="newitem" placeholder="New Item" name="newitem">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
                </form>
            </div>
            <%- include("footer") -%>